footer.global__footer
	div.content__center.global__footer--inner
		ul
			li Canal West Studio
			li 1050 30th Street
			li Washington, DC 2007
			li.fade--trans <a href="mailto:contact@canalweststudio.com">Contact</a>
		img(src="https://s3.us-east-2.amazonaws.com/canalweststudio/assets/img/wordmark-white.svg")