header
	h1.visually-hidden
		span Canal West
section
	div.inner.content__center.animated.fadeIn
		div.main.content__center
			img(src="https://s3.us-east-2.amazonaws.com/canalweststudio/assets/img/CanalWest_Logo-web.svg" alt="")
		h2 Delivering modern technical solutions for <em>your</em> business.