html,
body {
  font: 18px 'Zilla Slab', Times;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
.headrer__forst,
a {
  color: #f16522;
  text-decoration: none;
}
a:hover {
  color: #00b7f1;
  text-decoration: underling;
}
a:visited {
  color: #00b7f1;
  text-decoration: underline;
}
h4 {
  text-align: center;
}
.content__center {
  display: block;
  margin: 0 auto;
}
.container {
  min-height: 100%;
  min-width: 1200px;
  position: relative;
}
.container:after {
  content: '';
  display: block;
}
.inner {
  display: block;
  margin-top: 40px;
  max-width: 720px;
  padding: 60px 20px;
}
.main {
  max-width: 680px;
}
.main img {
  width: 100%;
  margin-left: 20px;
  max-width: 400px;
}
span.copy--body {
  font-weight: 300;
}
li {
  margin-bottom: 10px;
}
.global__footer {
  background: #00b7f1;
  color: #fff;
  font-size: 18px;
  font-family: Rubik;
  height: 210px;
}
.global__footer img {
  margin-top: 50px;
  max-width: 220px;
}
.global__footer ul {
  margin-top: 38px;
  display: inline-block;
  float: right;
}
.global__footer ul li {
  list-style: none;
  text-shadow: 1px 1px #f16522;
}
.global__footer ul li.fade--trans {
  background: #fff;
  color: #f16522;
  cursor: pointer;
  font-size: 30px;
  font-weight: 700;
  padding: 2px 35px;
  text-align: left;
}
.global__footer ul li.fade--trans -webkit-transition all 0.4s ease-in {
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
.fade--trans:hover,
li.fade--trans:hover {
  background: #f16522;
  color: #fff;
}
.global__footer ul li.fade--trans:hover,
li.fade--trans a:hover {
  background: #f16522;
  color: #fff;
  -webkit-transition: all 0s ease-in;
  -moz-transition: all 0s ease-in;
  -o-transition: all 0s ease-in;
  transition: all 0s ease-in;
}
.global__footer--inner {
  max-width: 720px;
}
.visually-hidden {
  font-size: 0;
  height: 0;
  visibility: hidden;
}
