html,
body {
  font: 18px 'Zilla Slab', Times;
  margin: 0;
  padding: 0;
  position: relative;
}
a {
  color: #f16522;
  font-weight: 700;
  text-decoration: none;
}
a:hover {
  color: #00b7f1;
  cursor: pointer;
  text-decoration: underline;
}
a:visited {
  color: #00b7f1;
  text-decoration: underline;
}
h4 {
  text-align: center;
}
.content__center {
  display: block;
  margin: 0 auto;
}
.container {
  min-height: 100%;
  min-width: 1200px;
  position: relative;
}
.container:after {
  content: '';
  display: block;
}
.inner {
  display: block;
  margin-top: 40px;
  max-width: 720px;
  padding: 60px 20px;
}
.main {
  max-width: 680px;
}
.main img {
  width: 100%;
  margin-left: 20px;
  max-width: 400px;
}
span.copy--body {
  font-weight: 300;
}
ul {
  list-style: none;
}
li {
  font-size: 18px;
  margin-bottom: 10px;
}
.global__footer {
  background: #00b7f1;
  color: #fff;
  font-size: 18px;
  font-family: Rubik;
  height: 210px;
}
.global__footer img {
  margin-top: 50px;
  max-width: 220px;
}
.global__footer ul {
  margin-top: 38px;
  float: right;
  list-style: none;
}
.global__footer ul li.fade--trans a {
  background: #fff;
  color: #f16522;
  cursor: pointer;
  font-size: 30px;
  font-weight: 700;
  padding: 2px 35px;
  text-align: left;
  text-shadow: 1px 1px #1abc9c;
}
.global__footer ul li.fade--trans:hover,
.global__footer ul li.fade--trans a:hover {
  background: #f16522;
  color: #fff;
}
.global__footer ul li.fade--trans:hover -webkit-transition all 0.4s ease-out,
.global__footer ul li.fade--trans a:hover -webkit-transition all 0.4s ease-out {
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.global__footer--inner {
  max-width: 720px;
}
.visually-hidden {
  font-size: 0;
  height: 0;
  visibility: hidden;
}
@media (max-width: 760px) {
  body,
  html {
    overflow-x: hidden;
  }
  .container {
    min-width: 0;
  }
  .inner {
    margin-top: 10px;
    padding: 10px 20px;
  }
  .inner h3 {
    text-align: center;
  }
  .main img {
    margin: 5px 10px;
    width: 75%;
  }
  ul.list--copy {
    margin-top: 10px;
    padding: 0 15px;
  }
  .list--copy li {
    border-top: 1px solid #ccc;
    padding-top: 10px;
  }
  .list--copy li:first-of-type {
    border-top: none;
  }
  li strong:first-child {
    display: block;
    margin-bottom: 5px;
  }
  li .copy--body strong {
    display: inline;
  }
  .global__footer {
    height: 350px;
  }
  .global__footer ul,
  .global__footer img {
    float: none;
  }
  .global__footer ul {
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    width: 100%;
  }
  .global__footer img {
    display: block;
    margin: 20px auto 0 auto;
  }
  .global__footer ul li.fade--trans,
  .global__footer ul li.fade--trans a,
  .global__footer ul li.fade--trans a:hover {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    text-align: center;
  }
}
