extends layout

block content
	include ./partials/_hero
		ul
			each tech in data
				li!= tech.title
					span &nbsp;
					span.copy--body
						!=tech.body
		h3 <strong>Canal West Studio</strong>: <em>Flexible. Honest. Agile. Consistent. Built for the Future. Today.</em>
		h4 We are <em>very</em> selective on projects, but please <a href="mailto:contact@canalweststudio.com">Contact Us</a> for a free consultation.

	include ./partials/_footer

