extends layout

block content
	include ./partials/_hero
		ul.list--copy
			each tech in data
				li!= tech.title
					span &nbsp;
					span.copy--body
						!=tech.body
		include ./partials/_body

	include ./partials/_footer

